---
import penguins from "../assets/penguins.json";
import PlotFigure from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";

const species = Astro.props.species;
const penguinsFiltered = Array.isArray(species)
  ? penguins.filter((p) => species.includes(p.species))
  : penguins.filter((p) => p.species === species);

const title = Array.isArray(species)
  ? `${species.join(", ")} Penguins`
  : `${species} Penguins`;
---

<div class="flex flex-col items-center my-16 max-w-[80dvw] mx-auto">
  <h1>{title}</h1>
  <PlotFigure
    options={{
      marks: [
        Plot.dot(penguinsFiltered, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />
  <p class="mt-4 text-center text-gray-600">
    Ce tableau comporte les données de {penguinsFiltered.length} pingouins{
      Array.isArray(species)
        ? ` des espèces ${species.join(", ")}`
        : ` de l'espèce ${species}`
    }.
  </p>
</div>
